*.suo
*.log
*.exe
*.ilk
*.lastbuildstate
*.obj
*.pdb
*.tlog
*.unsuccessfulbuild
*.idb
*.opendb
*.db
*.sdf
*.user
*.apk
*.lst
*.o
*.d
*.eep
*.elf
*.hex
*.lss
*.map
*.sym
*.tar.gz*
code/c/libraries/POCO/*
/code/java/configs/AndroPDI/.idea/deploymentTargetDropDown.xml
