[submodule "code/c/libraries/POCO"]
	path = code/c/libraries/POCO
	url = https://github.com/pocoproject/poco.git
	ignore = dirty
[submodule "code/java/configs/AndroPDI/assets/opdi_assets"]
	path = code/java/configs/AndroPDI/assets/opdi_assets
	url = https://github.com/leomeyer/opdi_assets.git
